<div class="container">

<div class="card-category">
<h1>All the lists</h1>
</div>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "Add list", new_list_path, class:"btn-ghost" %>
</div>
