.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#9D5C63, #584B53);
  transition: background 0.3s ease;
  border: 1px solid white;
}

.btn-gradient:hover {
  background: linear-gradient(#9D5C63, #584B53);
  color: white;
}
